# Minimal dependencies for DISTIL project
numpy==1.26.4
pandas==2.1.4
matplotlib==3.8.2
pillow==11.1.0
opencv-python==4.11.0.86
scikit-learn==1.3.2
torch==2.2.1+cu121
torchvision==0.17.1+cu121
tqdm==4.67.1
pyyaml==6.0.2
glide-text2im @ git+https://github.com/openai/glide-text2im@69b530740eb6cef69442d6180579ef5ba9ef063e
